<div class='row d-flex'>

  <div class='col-6 full-height col-drivers-standings'>
    <div class='d-grid'>
      <a href='/standings/drivers' class='btn full-height btn-sm btn-standings btn-standings-drivers'>
        <p class='btn-text-padding mt-2'>DRIVERS</p>
      </a>
    </div>
  </div>

  <div class='col-6 full-height col-constructors-standings'>
    <div class='d-grid'>
      <a href='/standings/teams' class='btn full-height btn-sm btn-standings btn-standings-constructors'>
        <p class='btn-text-padding mt-2'>TEAMS</p>
      </a>
    </div>
  </div>

</div>