<div class='container hero'>

  {{! Logged }}
  {{#if loggedUser}}
    <h1 class='text-shadow-index'>Welcome,</h1>
    <h2 class='text-shadow-index'>@{{loggedUser.username}}</h2>
  {{/if}}

  {{! Not logged }}
  {{#unless loggedUser}}
    <h1 class='text-shadow-index'>Welcome</h1>
    <div class='row mt-4'>

      <div class='col-1'>
        <div class='d-grid'>
          <a href='/log-in' class='btn btn-dark btn-login btn-index shadow'>Log-In</a>
        </div>
      </div>

      <div class='col-1'>
        <div class='d-grid'>
          <a href='/sign-up' class='btn btn-dark btn-index shadow'>Sign-Up</a>
        </div>
      </div>

    </div>
  {{/unless}}
</div>

<div class='video-container'>
  <video autoplay loop class='video' volume='0'>
    <source src='../videos/f1-home.mp4' type='video/mp4' />
  </video>
</div>