<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{appTitle}}</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css' rel='stylesheet' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>

  <body>

    <nav class='navbar fixed-top navbar-expand-lg navbar-dark mb-5'>
      <div class='container-fluid'>
        <a class='navbar-brand' href='/'><img src='../images/formula1-logo.png' alt='formula1-logo' /></a>
        <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
          <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
          <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
            <li class='nav-item'>
              <a class='nav-link active' href='/'>Home</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='#'>Schedule</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/#'>Classification</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='#'>Community</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='#'>Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id='nav-behind'></div>

    {{{body}}}

    <footer>Season 2023</footer>

    <script src='/js/script.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js'></script>
  </body>

</html>