@font-face {
  font-family: F1-Wide;
  src: url('../fonts/Formula1-Wide.otf');
}

@font-face {
  font-family: F1-Bold;
  src: url('../fonts/Formula1-Bold.otf');
}

@font-face {
  font-family: F1-Regular;
  src: url('../fonts/Formula1-Regular.otf');
}

body {
  background-color: rgb(20, 20, 20);
  font-family: F1-Regular;
  color: white;
}

footer {
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
  padding: 16px 30px;
  position: sticky;
  top: 100vh;
  text-align: right;
  width: 100%;
}

.navbar {
  background-color: #000000;
}

.navbar img {
  width: 6rem;
}

.hero {
  margin-top: 6rem;
  margin-left: 6rem;
}

.text-shadow-index {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.75);
}

/* .text-shadow {
  text-shadow: 3px 3px 7px rgba(255, 255, 255, 0.5);
} */

.shadow {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.75);
}

.hero h1 {
  font-family: F1-Wide;
  font-size: 4rem;
}

.hero h2 {
  font-family: F1-Regular;
  font-size: 2.5rem;
}

.btn-index {
  width: 6.25rem;
}

.btn-dark {
  background-color: #000000;
  border: #ff0000 solid 0.1rem;
}

.btn-dark:hover {
  background-color: rgb(60, 60, 60);
  border: #ff0000 solid 0.1rem;
}

.btn-login {
  background-color: #ff0000;
  border: #ff0000 solid 0.1rem;
}

.btn-login:hover {
  background-color: rgb(255, 100, 100);
  border: #ff0000 solid 0.1rem;
}

.btn-check:checked + .btn {
  background-color: #ff0000;
  border: #ff0000 solid 0.1rem;
}

.btn-outline-primary {
  border: #ff0000 solid 0.1rem;
  color: #ffffff;
  --bs-btn-border-color: #ff0000;
  --bs-btn-color: rgb(195, 195, 195);
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -100;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-text {
  color: rgb(200, 200, 200);
  font-size: 0.7rem;
}

.logout-form {
  margin: 0;
}

.full-height {
  height: calc(100vh - 56px);
}

.col-drivers-standings {
  padding-left: 12px;
  padding-right: 0;
  background-image: url('../images/f1-drivers.jpg');
  background-size: cover;
}

.col-constructors-standings {
  padding-left: 0;
  padding-right: 12px;
  background-image: url('../images/f1-contructors.jpg');
  background-size: cover;
}

.btn-standings {
  /* background: none; */
  border-radius: 0;
  display: flex;
  position: absolute;
  padding: 0;
  width: 50vw;
  border-radius: 0;
  background-color: rgba(160, 160, 160, 0.5);
  border: none;
  color: rgb(160, 160, 160);
  text-shadow: none;
}

.btn-standings:hover {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.75);
}

.btn-standings-drivers {
  justify-content: right;
  /* align-items: center; */
  padding-right: 1.5rem;
}

.btn-standings-constructors {
  justify-content: left;
  /* align-items: center; */
  padding-left: 1.5rem;
}

.btn-standings p {
  font-size: 3rem;
  font-family: F1-Wide;
  /* font-style: italic; */
}

.btn-text-center {
  text-align: center;
}

#errorMessage button {
  background-color: #ff0000;
  border: #ff0000;
  font-size: 1em;
  opacity: 100;
  text-align: center;
  animation: showAnimation 4s forwards;
}

#nav-behind {
  padding-bottom: 56px;
  padding-right: 100%;
  position: relative;
  top: 0;
}

@keyframes showAnimation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
