@font-face {
  font-family: F1-Wide;
  src: url('../fonts/Formula1-Wide.otf');
}

@font-face {
  font-family: F1-Bold;
  src: url('../fonts/Formula1-Bold.otf');
}

@font-face {
  font-family: F1-Regular;
  src: url('../fonts/Formula1-Regular.otf');
}

body {
  background-color: rgb(20, 20, 20);
  font-family: F1-Regular;
  color: white;
}

footer {
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
  padding: 16px 30px;
  position: sticky;
  top: 100vh;
  text-align: right;
  width: 100%;
}

.navbar {
  background-color: #000000;
}

.navbar img {
  width: 6rem;
}

.hero {
  margin-top: 6rem;
  margin-left: 6rem;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero h1 {
  font-family: F1-Wide;
  font-size: 4rem;
}

.hero h2 {
  font-family: F1-Regular;
  font-size: 2.5rem;
}

.btn-dark {
  background-color: #000000;
  border: #ff0000 solid 0.1rem;
}

.btn-dark:hover {
  background-color: rgb(60, 60, 60);
  border: #ff0000 solid 0.1rem;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -100;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-text {
  color: rgb(200, 200, 200);
  font-size: 0.7rem;
}

#errorMessage button {
  background-color: #ff0000;
  border: #ff0000;
  font-size: 1em;
  opacity: 100;
  text-align: center;
  animation: show 6s forwards;
}

#nav-behind {
  padding-bottom: 56px;
  padding-right: 100%;
  position: relative;
  top: 0;
}
