<div class='container mt-4'>

  <div class='row justify-content-between'>

    <div class='col-3'>
      <div class='btn-group shadow' role='group' aria-label='Basic radio toggle button group'>
        <input type='radio' class='btn-check' name='btnradio' id='general' autocomplete='off' />
        <a href='/community/GENERAL' class='btn btn-outline-primary' for='general'>GENERAL</a>

        {{#unless hasNoTeam}}
          <input type='radio' class='btn-check' name='btnradio' id='team' autocomplete='off' />
          <a href='/community/{{user.team}}' class='btn btn-outline-primary' for='team'>TEAM</a>
        {{/unless}}
        {{#if hasNoTeam}}
          <input type='radio' class='btn-check' name='btnradio' id='team' autocomplete='off' />
          <a href='/profile/select-team' class='btn btn-outline-primary' for='team'>SELECT TEAM</a>
        {{/if}}
      </div>
    </div>

    <div class='col-1'>
      <div>
        <a href='/community/user/list' class='btn btn-dark btn-login btn-index shadow'>USERS</a>
      </div>
    </div>
  </div>

  <hr />

  {{#each users}}
    <br />
    <h2>{{username}}</h2>
    <a href='/community/user/{{username}}'>View profile</a>
    <br />
    <hr />
  {{/each}}

</div>